/* Testlayout stylesheet */

@import url(../../../css/csslayer.css);

html.season_1 {
	background: url("img/backgroundSeason1.jpg");
}
html.season_2 {
	background: url("img/backgroundSeason2.jpg");
}
html.season_3 {
	background: url("img/backgroundSeason3.jpg");
}
html.season_4 {
	background: url("img/backgroundSeason4.jpg");
}

h3 {
	color: white;
}
/* main board */

#board {
	width: 400px;
	height: 400px;
	background-image: url("img/board.png");
	float: left;
	position: relative;
	box-shadow: 0px 0px 10px 4px #e9b415;
	border-radius: 210px;
}
#season_library_choice {
	width: 410px;
	float: left;
	position: relative;
	left: -10px;
	top: -10px;
}

.season_1 #season_dices_wrap {
	border: 2px solid #008080;
}
.season_2 #season_dices_wrap {
	border: 2px solid #61ac1b;
}
.season_3 #season_dices_wrap {
	border: 2px solid #f8ea26;
}
.season_4 #season_dices_wrap {
	border: 2px solid #fc3737;
}

.seasons_rightpanel {
	margin-left: 410px;
}

.monthplace {
	width: 30px;
	height: 30px;
	position: absolute;
}
#monthplace_1 {
	left: 230px;
	top: 10px;
}
#monthplace_2 {
	left: 315px;
	top: 55px;
}
#monthplace_3 {
	left: 360px;
	top: 140px;
}
#monthplace_4 {
	left: 360px;
	top: 230px;
}
#monthplace_5 {
	left: 315px;
	top: 315px;
}
#monthplace_6 {
	left: 230px;
	top: 360px;
}
#monthplace_7 {
	left: 140px;
	top: 360px;
}
#monthplace_8 {
	left: 55px;
	top: 315px;
}
#monthplace_9 {
	left: 10px;
	top: 230px;
}
#monthplace_10 {
	left: 10px;
	top: 140px;
}
#monthplace_11 {
	left: 55px;
	top: 55px;
}
#monthplace_12 {
	left: 140px;
	top: 10px;
}

#current_month {
	width: 30px;
	height: 30px;
	background-image: url("img/icons.png");
	position: absolute;
	background-position: -0px -25px;
	left: 185px;
	top: 185px;
}

.yearplace {
	position: absolute;
	width: 36px;
	height: 36px;
}
#yearplace_1 {
	left: 149px;
	top: 183px;
}
#yearplace_2 {
	left: 181px;
	top: 183px;
}
#yearplace_3 {
	left: 214px;
	top: 183px;
}

#current_year {
	width: 36px;
	height: 36px;
	box-shadow: 0px 0px 7px 8px #e9b415;
	border-radius: 20px;
	position: absolute;
	background-position: -30px -25px;
	left: 149px;
	top: 183px;
}

.bonus_actions {
	display: grid;
	grid-template-columns: 40px 40px;
	grid-template-rows: 56px 56px;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.bonus {
	cursor: pointer;
	background-image: url("img/bonuses.png");
	border-radius: 6px;
}
.bonus1 {
	width: 39px;
	height: 55px;
	background-position: -47px -3px;
}
.bonus2 {
	width: 39px;
	height: 55px;
	background-position: -92px -3px;
}
.bonus3 {
	width: 38px;
	height: 55px;
	background-position: -3px -3px;
}
.bonus4 {
	width: 39px;
	height: 55px;
	background-position: -137px -3px;
}

.ssn-info {
	font-size: smaller;
}

.enabled {
	box-shadow: 0px 0px 1px 2px #f0ec18;
}

#season_dices_wrap {
	display: grid;
	grid-template-columns: max-content auto;
	justify-content: space-between;
	align-items: center;
}

.conversion_reminder {
	display: flex;
	grid-column: 2;
}

.reminder {
	display: flex;
}

#convertFor1 .energy {
	margin: 0px 3px 0px 3px;
}

/*Player board on the left*/
.leftPlayerBoard {
	border: 2px solid #9d7e7e;
	border-radius: 60px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px 5px 25px 5px;
}
.leftPlayerBoard .ssn-avatar {
	width: 80px;
	height: 80px;
	border: 2px solid;
	border-radius: 40px;
	margin-top: -38px;
	border-color: inherit;
}

.bonus_actions_used {
	margin-bottom: 5px;
}

.bonus_actions_used div:first-child,
.bonus_actions_used div:last-child {
	margin-bottom: -4px;
}

.leftPlayerBoard .icon_cristal {
	margin-left: -105px;
}
.leftPlayerBoard .icon_play {
	margin-right: -105px;

	/*todo replace with position: relative;
    top: -18px;
    right: -56px;*/
}
.counter {
	color: white;
	font-weight: bold;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.ages {
	display: flex;
	column-gap: 6px;
	justify-content: center;
	margin-top: 10px;
}
.age {
	width: 35px;
	height: 35px;
}

.age2 {
	background-color: teal;
}
.age3 {
	background-color: greenyellow;
}

.tableau {
	display: grid;
	grid-template-columns: max-content auto;
	column-gap: 7px;

	/*todo remplacer par vraie image. */
	/*margin: 50px 8%;*/
	/*border-image-repeat: round;*/
	/*background: url("https://image.shutterstock.com/image-illustration/old-paper-scroll-ancient-parchment-600w-720299497.jpg")
	no-repeat;*/

	/*
	border: 60px solid transparent;
	border-image-source: url("https://image.shutterstock.com/image-illustration/old-paper-scroll-ancient-parchment-600w-720299497.jpg");
	border-image-slice: 186;
	background-position: 43% 70%;
	background-size: 316%;*/
	background: url("https://cdn.pixabay.com/photo/2017/09/28/08/38/paper-2794699_960_720.png")
		no-repeat;
	background-size: cover;
}

/* card */

.cardtitle {
	position: absolute;
	top: 5px;
	left: 23px;
	font-weight: bold;
	font-size: 50%;
	width: 80px;
	text-align: center;
}

.cardtooltip {
	text-align: center;
	max-width: 300px;
}
.dietooltip {
	max-width: 300px;
}
.possibleCard {
	border-radius: 15px;
	box-shadow: 0px 0px 2px 2px rgb(186 86 209 / 93%);
	-moz-box-shadow: 0px 0px 2px 2px rgb(186 86 209 / 93%);
	-webkit-box-shadow: 0px 0px 2px 2px rgb(186 86 209 / 93%);
	cursor: default;
}

.stockitem:hover {
	transform: scale(1.05);
	z-index: 150 !important;
}

.all_die_faces {
}
.all_die_face {
	background-image: url("img/dices.png");
	width: 54px;
	height: 54px;
	margin: 5px;
	display: inline-block;
}

.cardactivated {
	position: absolute;
	left: 42px;
	bottom: 12px;
	background-image: url("img/icons.png");
	background-position: -150px 0px;
	width: 40px;
	height: 40px;
	display: none;
}
.activated .cardactivated {
	display: block;
}

.cardenergies {
	position: absolute;
	left: 10px;
	top: 20px;
	width: 100px;
	height: 100px;
}
.cardartwrap {
}
.cardart {
	display: inline-block;
	background-image: url("img/bigcards.jpg");
	width: 248px;
	height: 346px;
	margin: 10px;
}

#player_hand {
	background-color: rgb(12 12 12 / 43%);
	text-align: center;
	border-radius: 10px;
}
#myhand h3 {
	background-color: rgb(12 12 12 / 43%);
	border-radius: 8px 8px 0px 0px;
	padding: 4px 10px 0px 10px;
	margin: 0px;
	display: inline;
}
#myhand {
	text-align: center;
}

.ssn-loc-available {
	/*border: 4px solid transparent;
	border-radius: 15px;*/
}

.ssn-loc-available:after {
	content: " ";
	position: absolute;
	z-index: 0;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	border: 2px solid white;
	margin: -5px;
	border-radius: 13px;
}

.empty-slot {
	box-shadow: inset 1px 1px 4px 2px #5c4223;
}

/* icons */

.sicon {
	display: inline-block;
	background-image: url("img/icons.png");
}

.icon_play {
	width: 12px;
	height: 12px;
	background-position: -130px 0px;
}
.icon_active {
	width: 12px;
	height: 12px;
	background-position: -130px -20px;
}
.icon_permanent {
	width: 12px;
	height: 12px;
	background-position: -100px -30px;
}
.icon_cristal {
	width: 30px;
	height: 30px;
	background-position: -119px -35px;
}
.icon_black_cube {
	width: 30px;
	height: 30px;
	background-position: -0px -25px;
}

.bonusUsedCube.bonusUsed0 {
	margin-left: -87px;
	margin-bottom: -7px;
}
.bonusUsedCube.bonusUsed1 {
	margin-left: -28px;
	margin-bottom: -4px;
}
.bonusUsedCube.bonusUsed2 {
	margin-left: 28px;
	margin-bottom: -4px;
}
.bonusUsedCube.bonusUsed3 {
	margin-left: 87px;
	margin-bottom: -7px;
}

.player_score .bonusused {
	vertical-align: text-bottom;
}

.playerOrderHelp {
	display: inline-block;
	padding-right: 3px;
	padding-left: 3px;
}

.player-board {
	border-radius: 8px 0 0 0px;
	overflow: hidden;
	background-color: #f3f1f1;
}

.player-board:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 66%;
	border-bottom-style: solid;
	border-color: inherit;
	border-width: 6px;
}

.avatarBorder {
	border-width: 6px;
}

.player-board .ssn-avatar {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(img/spritesresponsive.png);
	width: 100px;
	height: 100px;
	background-position: 62.799% 77.2519%;
	background-size: 544.681%;
	border-style: solid;
	border-radius: 50%;
	margin: -26px 0 -31px 62%;
}

#new-year {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: black;
	color: white;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 200%;
	opacity: 0;
	z-index: 100;
	pointer-events: none;
}
#new-year.new-year-animation {
	animation: new-year-animation 2.5s 1 forwards;
}

@keyframes new-year-animation {
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/*todo trouver l'icone*/
.icon_separator {
	width: 12px;
	height: 12px;
	background-position: -130px 0px;
}
.energy0,
.energy1,
.energy2,
.energy3,
.energy4 {
	width: 25px;
	height: 25px;
}
.energy0 {
	background-position: -120px -32px;
}
.energy1 {
	background-position: 0px 0px;
}
.energy2 {
	background-position: -25px 0px;
}
.energy3 {
	background-position: -50px 0px;
}
.energy4 {
	background-position: -75px 0px;
}

.invocation_level {
	background-position: -75px -25px;
	width: 25px;
	height: 25px;
}

.deadlock {
	position: absolute;
	background-image: url("img/icons.png");
	width: 100px;
	height: 37px;
	background-position: -0px -63px;
	top: 130px;
	left: 12px;
}

.trap {
	position: absolute;
	background-image: url("img/icons.png");
	width: 100px;
	height: 37px;
	background-position: -100px -63px;
	top: 10px;
	left: 12px;
}

/* player die */

.playerdie {
	width: 54px;
	height: 54px;
	background-image: url("img/dices.png");
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}

.playerdie_wrap {
	width: 54px;
	height: 54px;
	float: left;
	position: relative;
}

.leftPlayerBoard .playerdie_wrap {
	border: 1px dashed darkgray;
	border-radius: 18px;
}
.boardblock_seasons {
	margin-left: 60px;
}

#player_hand .stockitem,
#library_2 .stockitem,
#library_3 .stockitem,
.tableau .stockitem {
	border-radius: 8px;
}

/* player reserve */

.energywrapper {
	position: relative;
	width: 170px;
	min-height: 55px;
}
.energy_reserve {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 55px;
	width: 170px;
}

/* cards drawn */

/* player panel */

a.choose_player {
	display: none;
	margin: 10px;
	margin-top: 15px;
}

#firstplayer {
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	background-image: url("img/icons.png");
	position: absolute;
	background-position: -0px -25px;
}
.firstplayerplace {
	position: relative;
	display: inline-block;
	top: 4px;
	left: 0px;
	width: 30px;
	height: 30px;
}

.bonusused {
	width: 25px;
	height: 25px;
}
.bonusused0 {
	background-position: -200px 0px;
}
.bonusused1 {
	background-position: -225px 0px;
}
.bonusused2 {
	background-position: -200px -25px;
}
.bonusused3 {
	background-position: -225px -25px;
}

.seasons_no_art_cards .cardartwrap {
	display: none;
}

#otus_wrap {
	display: none;
}

.library_build_wrap {
	width: 600px;
}

/******* Mobile version ****************/

@media only screen and (max-width: 970px) {
	#board {
		float: none;
		margin: auto;
	}
	#season_library_choice {
		float: none;
		margin: auto;
		top: 0px;
	}
	.seasons_rightpanel {
		margin-left: 0px;
	}
}
